[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Firefox Developer Edition
GenericName=Web Browser
Comment=Debug the Web
Exec={{ fde_system_binary_link_path }}
Icon=firefox
Terminal=false
StartupNotify=true
Keywords=web;browser;internet;
